<footer>
    <section id="footer-top">
        <div class="footer container">
            <div class="footer-grid">
                <div class="group">
                    <h3 class="footer">Casino</h3>
                    <ul>
                        <li><a href="#">My Region</a></li>
                        <li><a href="#">Popular Games</a></li>
                        <li><a href="#">Last Minute Bets</a></li>
                    </ul>
                
                </div>
                <div class="group">
                    <h3 class="footer">Sports</h3>
                    <ul>
                        <li><a href="#">My Country</a></li>
                        <li><a href="#">Competitions 2021</a></li>
                        <li><a href="#">Live Sports</a></li>
                    </ul>
                </div>
                <div class="group">
                    <h3 class="footer">More about Better</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="group">
                    <h3 class="footer">Privacy</h3>
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">
                    <p>© Better 2021</p>
                </div>
                <div class="social-icons">
                    <div class="social-item"><a href="#" target="_blank"><img src="img/facebook.svg" alt="Facebook"/></a></div>
                    <div class="social-item"><a href="#" target="_blank"><img src="img/instagram.svg" alt="Instagram"/></a></div>
                </div>
                

            </div>
        </div>
    </section>
</footer>