<header>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="logo"><a href="./index.ejs"><img src="img/Logo.svg" alt="Better gambling Logo"></a></div>

                    <div class="nav-list">
                        <div class="hamburger"><div class="bar"></div></div>
                            <ul>
                                <li><a class="nav" href="./casino.ejs">Casino</a></li>
                                <li><a class="nav" href="./sports.ejs ">Sport</a></li>
                                <li><a class="nav" href="./contact.ejs">Contact</a></li>
                                <li><a class="nav" href="./about.ejs">About Us</a></li>
                                
                                <div class="nav-buttons">
                                    <li><a class="btn-prim">Login</a></li>
                                    <li><a class="btn-prim">Register</a></li>
                                </div>
                                
                      </ul>
                    </div>
              </div>
        </div>
    </section>
</header>
