@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
a, button, input, select, textarea, label, summary {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #3F3F3F;
}

@media screen and (min-width: 899px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #3F3F3F;
}

@media screen and (min-width: 899px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3F3F3F;
}

@media screen and (min-width: 899px) {
  h3 {
    font-size: 2.4rem;
  }
}

p {
  line-height: 1.5;
  letter-spacing: .1rem;
  font-weight: 300;
  font-size: 1.6rem;
  color: #545454;
}

@media screen and (min-width: 899px) {
  p {
    font-size: 2.4rem;
  }
}

a {
  line-height: 1.5;
  letter-spacing: .1rem;
  font-weight: 300;
  font-size: 1.6rem;
  color: #3F3F3F;
}

@media screen and (min-width: 899px) {
  a {
    font-size: 2.4rem;
  }
}

input {
  width: 200px;
  height: 24px;
  margin: 5px auto 20px auto;
  border: 1px solid darkgrey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

button[type=submit] {
  background: #FFF500;
  width: 200px;
  height: 44px;
  border: none;
  border-radius: 10px;
}

#banner .banner {
  background-image: url("../../img/banner.png");
}

#banner .banner img {
  width: 100%;
  height: 100%;
}

#modal-login .modal-login-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-login .modal-login-bg .modal-content {
  background-color: #FFFFFF;
}

#modal-register {
  min-width: 300px;
  overflow: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal-register a {
  color: black;
  font-size: 1.3rem;
  letter-spacing: unset;
  margin: 20px 5px;
}

#modal-register span {
  color: #FFF500;
}

#modal-register .modal-register-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal-register .modal-register-top img {
  width: 75%;
  margin: auto 0px auto 0px;
  opacity: 0.5;
}

#modal-register .modal-register-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin: 0% 12.5% 0% 12.5%;
  padding-bottom: 5%;
  padding-left: 10%;
}

#modal-register .modal-register-bottom .close {
  display: block;
  position: relative;
  bottom: -260px;
  right: 0;
  color: #BEBEBE;
}

#modal-register .form-wrapper {
  margin-top: -2px;
}

#modal-register .form-wrapper .form-group {
  display: block;
  margin: auto;
}

#modal-register .form-wrapper label {
  font-size: 13px;
  font-family: 'Lato';
  margin: auto;
}

#modal-register .form-wrapper input:hover {
  -webkit-filter: drop-shadow(0 2px 2px #FFF500);
          filter: drop-shadow(0 2px 2px #FFF500);
}

#modal-register .form-wrapper .checkbox {
  border-radius: 20em;
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}

#modal-register .form-wrapper .username {
  margin-top: 25px;
}

#modal-register .tos {
  padding-top: 5px;
}

#modal-register .tos span {
  display: inline;
}

#modal-register .form-wrapper * {
  display: block;
}

body {
  background-color: aqua;
}
/*# sourceMappingURL=main.css.map */