#top-row {
    .socials {
        display: flex;
        flex-flow: row nowrap;

    }

    ul {
        padding-left: 1%;
        width: 10%;
        display: flex;
        justify-content: space-between;
        flex-flow: row;
    }

    a {
        text-decoration: underline;
    }   
}