#banner {
    .banner {
        background-image: url('../../img/banner.png');
        img {
            width: 100%;
            height: 100%;
            
        }
    }
}
#modal-login{
    .modal-login-bg{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
        .modal-content{
            background-color: $primary-six;

        }
    }
}

#modal-register {
    
    .modal-register-bg {
        width: 100%;
        height: 160%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    .modal-register-top::before {
        content: "";    
        position: absolute;
        overflow: hidden;
        top: 0;
        left: auto;
        width: 360px;
        height: 260px;
        background-color: rgba(255,255,255,0.5);
    }
    .modal-register-top{
        display: block;
        
        background-image: url("../../img/poker.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 260px;
        width: 360px;
        .modal-register-top-text {
            color: $primary-one;
            text-align: center;
        }
        h1 {
            margin: 25px auto;
            margin-bottom: 0;
            position: relative;
        }
        span {
<<<<<<< HEAD
            color: #FFF500;
=======
            color: $secondary-one;
>>>>>>> b3b7d63584cf967f7664dff1769dda28ab3878a1
            -webkit-text-stroke: 1px black;
        }
        .modal-register-top-logo {
            position: relative;
            padding: 40px 0 25px 25%;
        }
    }
    .modal-register-bottom{
        background-color: white;
    }
    .form-wrapper *  {
        display: block;
        align-items: center;
        margin: auto 12% auto 12%;

    }
    .form-wrapper {
        label:first-child {
            padding-top: 20px;
            margin-top: 0;
        }
        label {
            font-size: 13px;
            margin: 20px auto 5px auto;
        }
        input{
            margin: 0; 
            
        }
        input:hover {
            filter: drop-shadow(0 2px 2px #FFF500);
        }
        .checkbox {
            color: green;
            border-radius: 20em;
            width: 10px;
            height: 10px;
            margin: 20px 15px 20px 0px ;
        }
        span {
            margin: 0;
            display: inline;
            color: black;
            text-decoration: underline;
<<<<<<< HEAD
            color: #FFF500;
=======
            color: $primary-one;
>>>>>>> b3b7d63584cf967f7664dff1769dda28ab3878a1
        }
        #zip, #city {
            width: 60px;
        }
        .form-group:nth-of-type(6), .form-group:nth-of-type(7) {
            display: inline-block;
            margin: 0 12.5% 0 12.5%;
        }
        .form-group:nth-of-type(9){
            margin-bottom: 10px;
        }
        .form-group:last-of-type * {
            display: initial;

        }
        .form-group:last-of-type {
            text-align: center;
        }
        a {
            font-size: 1.2em;
            margin: 20px 8% auto 8%;
            padding-bottom: 20px;
        }
    }
}






