<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
    
    <!-- Header -->
    <%- include('./partials/header-logged'); %> 

    <main>
        <section class="dropMenu">
            <button class="menubtn"><p>Casino</p> <p>&#9660;</p></button>
            <div class="menu-content">
                <a href="#" id="selected">Top Games</a>
                <a href="#">New Games</a>
                <a href="#">Slots</a>
                <a href="#">Dice</a>
                <a href="#">Cards</a>
                <a href="#">Roulette</a>
                <a href="#">Jackpot</a>
                <a href="#">Table</a>
            </div>
        </section>

        <h3>Top Games</h3>
        <section class="games">
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>

            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="images/poker.jpg" alt="poker" class="minigame miniimg"/></a>

            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>

            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>

            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
            <a href="/poker" class="minigame"><img src="./public/img/poker.jpg" alt="poker" class="minigame miniimg"/></a>
        </section>
    </main>

    <!-- Footer -->
    <%- include ('./partials/footer'); %> 
</body>
</html>