<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    
    <!-- Header -->
    <%- include('./partials/header-logged'); %> 
 

    <!-- Content -->

    <!-- Footer -->
    <%- include ('./partials/footer'); %> 
</body>
</html>