<% if (locals.user) { %>
    <script>
        var user = '<%- JSON.stringify(user) %>';
    </script>
<% } %>

<form id="add">
    <p id="success-message"></p>

    <div class="form-group">
        <label for="add" class="add">Add credits</label>
        <input type="text" placeholder="0" id="add" name="add" value="<%= locals.user ? user.userName : '' %>" required="required">
        <div class="add" id="add-valid"></div>
    </div>

    <button type="submit">Add money</button>
</form>