<div class="banner container">
    <div class="banner-content">
        <img src="/img/banner.png" alt="Better banner">
        <h2 class="banner-brand">The better place to <span>bet</span></h2>
    </div>
</div>
