<section class="profile">
    <div class="profile-top">
        <div class="pf-picture"><img src="img/stick-figure-40652_1280(1).png"></div>
        <h3><%= user.username %></h3>
    </div>

    <div>
        <form class="edit-password" novalidate>

            <p id="success-message"></p>
            <div class="form-group">
                <label for="password">New password</label>
                <input type="password" placeholder="Password" id="password" name="password" required>
                <div class="description" id="password-valid"></div>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" placeholder="Confirm password" id="confirm-password" name="confirmPassword" required>
                <div class="description" id="confirm-password-valid"></div>
            </div>

            <button type="submit">Change Password</button>
        </form>
    </div>
</section>

<section class="credit">
    <div>
        <p>$<%= user.credit %></p>
        <button class="yellow-button">Add Credit</button>
        <button class="yellow-button">Withdraw</button>
    </div>
</section>