<footer>
    <section id="footer-top">
        <div class="footer container">
            <div class="footer-grid">
                <div class="group">
                    <h3 class="footer">Privacy</h3>
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">
                    <p>© Better 2021</p>
                </div>
                <div class="social-icons">
                    <div class="social-item"><a href="#" target="_blank"><img src="../public/img/facebook.svg" alt="Facebook"/></a></div>
                    <div class="social-item"><a href="#" target="_blank"><img src="../public/img/instagram.svg" alt="Instagram"/></a></div>
                </div>
                

            </div>
        </div>
    </section>
</footer>