<header>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class='logoMenu'>
                    <div class="logo">
                        <a href="/"><img src="img/Logo.svg" alt="Better gambling Logo"></a>
                    </div>

                    <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
                        <p class="fa fa-bars">Menu</p>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="nav-items">
                        <ul>
                            <li><a class="nav" href="/casino">Casino</a></li>
                            <li><a class="nav" href="/about">About Us</a></li>
                            <li><a class="nav" href="/contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="hamburger">
                        <div class="bar-one"><a class="nav" href="/casino">Casino</a></div>
                        <div class="bar-two"><a class="nav" href="/about">About Us</a></div>
                        <div class="bar-three"><a class="nav" href="/contact">Contact</a></div>
                    </div>

                    <% if (locals.user) { %>
                        <div class="nav-buttons">
                            <a class="" href="/profile"><button class="profile-button">
                                <p><%= user.username %></p>
                                <p>$<%= user.credit %></p>
                            </button></a>
                            <form action="/logout?_method=DELETE" method="POST">
                                <button type="submit" class="log-out">Log Out</button>
                            </form>
                        </div>
                    <% } else { %>
                        <div class="nav-buttons">
                            <a class="grey-button" href="/register">Register</a>
                            <a class="yellow-button" href="/login">Login</a>
                        </div>
                    <% } %>

                    
                    
                    
                </div>
            </div>
        </div>
    </section>
</header>
