<header>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="logo">
                    <a href="./index.ejs"><img src="../public/img/Logo.svg" alt="Better gambling Logo"></a>
                </div>

                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar-one"></div>
                        <div class="bar-two"></div>
                        <div class="bar-three"></div>
                    </div>

                    <div class="nav-items">
                        <ul>
                            <li><a class="nav" href="./casino.ejs">Casino</a></li>
                            <li><a class="nav" href="./about.ejs">About Us</a></li>
                            <li><a class="nav" href="./contact.ejs">Contact</a></li>
                        </ul>
                    </div>
                        
    
                    <div class="nav-buttons">
                        <a class="btn-prim">Login</a>
                        <a class="btn-prim">Register</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</header>
