<meta charset="UTF-8">
<title>Hello World!</title>
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

<!-- stylesheets -->
<link rel="stylesheet" href="../public/sass/main.css">

<!-- scripts & CDN -->
<script src="../public/js/header.js" defer></script>

<!-- Open Graph & Twitter -->

<!-- Google Analytics -->

<!-- SEO Meta tags -->