<header>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="logo">
                    <a href="./index.ejs"><img src="../public/img/Logo.svg" alt="Better gambling Logo"></a>
                </div>

                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar-one"></div>
                        <div class="bar-two"></div>
                        <div class="bar-three"></div>
                    </div>

                    <div class="nav-items">
                        <ul>
                            <li><a class="nav" href="/casino">Casino</a></li>
                            <li><a class="nav" href="#">About Us</a></li>
                            <li><a class="nav" href="#">Contact</a></li>
                        </ul>
                    </div>

                    <div class="nav-buttons">
                        <a class="btn-prim" href="/login">Login</a>
                        <a class="btn-prim" href="/register">Register</a>
                    </div>
                    <% if(locals.user) { %>
                        <a class="btn-prim" href="/profile"><%= user.username %></a>
                    <% } %>

                </div>
            </div>
        </div>
    </section>
</header>
