<section id="game">

</section>

<div id="chips">
    <div class="chip">
        <input type="radio" id="chips10" name="chips" value="10" checked>
        <label for="chips10" id="chip10"></label>
    </div>

    <div class="chip">
        <input type="radio" id="chips20" name="chips" value="20" >
        <label for="chips20" id="chip20"></label>
    </div>

    <div class="chip">
        <input type="radio" id="chips50" name="chips" value="50" >
        <label for="chips50" id="chip50"></label>
    </div>

    <div class="chip">
        <input type="radio" id="chips100" name="chips" value="100" >
        <label for="chips100" id="chip100"></label>
    </div>
</div>
<button id="play">play</button>

<p id="max"></p>
<table id="bets" style="width:100%">

</table>