<section class="sidebar">
    <div class="sidebar-top">
        <h2>Profile</h2>
    </div>

    <ul>
        <li><a href="#">Profile Info</a></li>
        <li><a href="#">Current Bets</a></li>
        <li><a href="#">Past Bets</a></li>
        <li><a href="#">Friends</a></li>
    </ul>
</section>