<div class="coming container">
    <div class="coming-content">
        <h2>Coming Soon:<span>Texas Hold'em Poker</span></h2>
        <img src="/img/poker-soon.jpg" alt="Texas Hold'em Poker Soon">
        
    </div>
</div>