<% if (locals.user) { %>
    <script>
        var user = '<%- JSON.stringify(user) %>';
    </script>
<% } %>

<form id="withdraw">
    <p id="success-message"></p>

    <div class="form-group">
        <label for="withdraw" class="withdraw">Withdraw credits</label>
        <input type="text" placeholder="50" id="withdraw" name="withdraw" value="<%= locals.user ? user.userName : '' %>" required="required">
        <div class="description" id="withdraw-valid"></div>
    </div>

    <button type="submit">Withdraw money</button>
</form>