#banner {
    .banner {
        background-image: url('../../img/banner.png');
        img {
            width: 100%;
            height: 100%;
            
        }
    }
}
#modal-login{
    .modal-login-bg{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
        .modal-content{
            background-color: $primary-six;

        }
    }
}
#modal-register {
    
    .modal-register-bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
    }
    .modal-register-top{
        background-image: url(D:\CloudStation\school\web_mobile_front\Opdrachten\co_working\groepswerk\groepswerk\public\img\poker.jpg);
        background-size: cover;
        background-repeat: repeat;
        height: 500px;
        margin: 0px auto 0px auto;
    }
    .modal-register-bottom{
        background-color: white;
    }
    .form-wrapper *  {
        display: block;
        align-items: center;
        margin: auto 12% auto 12%;
        label {
            font-size: 13px;
            font-family: 'Times New Roman', Times, serif;
            margin: 20px auto 5px auto;
        }
        input{
            margin: auto;
            
        }
        input:hover {
            filter: drop-shadow(0 2px 2px #FFF500);
        }
        .checkbox {
            color: green;
            border-radius: 20em;
            width: 100px;
            height: 100px;
        }
    }
}



