@mixin hamburger {
    .hamburger{
        height: 60px;
        width: 60px;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        @include flexCenter;
        z-index: $z-medium;
        cursor: pointer;
        transform: scale(.8);
        margin: 0 10px;

        @include media(sdesktop){
            display: none;
        }

        &:after {
            content:'';
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .bar {
            height: 2px;
            width: 30px;
            position: relative;
            background-color: $secundary-one;
            z-index: -1;

            &::after, &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0%;
                background-color: $secundary-one;
                transition: .3s ease;
                transition-property: top, bottom;
            }

            &::after {
                top: 8px;
            }

            &::before {
                bottom: 8px;
            }
        }
    }
    
    .hamburger.active {
        .bar {

            background-color: $primary-one;
            transition: .5s ease;

            &::before, &::after {
                content: '';
                height: 100%;
                width: 100%;
                left: 0%;
                background-color: $secundary-one;
                transition: .5s ease;
            }

            &::before {
                top: 0;
                transform: translate(0px, 4px) rotate(-45deg);

            }

            &::after {
                bottom: 0;
                transform: translate(0px, -4px) rotate(45deg);
            }
        }
    }

    
}

