footer {
    background-color: #353535;
    margin-top: 3rem;
    
    .footer {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        padding: 2rem;

        div{
            padding-bottom: 3%;
        }

        p, a {
            color: #fff;
        }
    }
        .group ul {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            
        }

        .social-icons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            img {
                width: 2rem;
                margin-left: 2rem;
            }
        }

        @include media(ebphone) {
            .footer {
                .group ul {
                    flex-flow: row nowrap;

                    li {
                        margin-right: 3rem;
                    }
                }
            }
        }
        @include media(mtablet) {
            .footer{
                flex-flow: row nowrap;
            }
        }
}