#header {
    background-color: #353535;
    padding: 2rem;
    
    .nav-bar {
        display: flex;
        flex-flow: column nowrap;

        .logoMenu {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .nav-list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;

    }

    .nav-items {
        display: none;
    }

    .nav-items ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: 2rem;
        li {
            margin-right: 4rem;
            text-decoration: none;
        }
        a {
            color: #ffffff;
        }
    }

    .nav-buttons {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            min-width: 15rem;
            text-align: center;
            white-space: nowrap;
        }
    }

    .nav-buttons a, .nav-buttons form {
        margin-left: 2rem;
    }

    .hamburger {
        display: none;

        a {
            color:#ffffff;
            
        }
        div {
            width: 100%;
            padding: 2% 0%;
            border: 1px solid black;
        }
    }

    .icon {
        display: block;
        p {
            color: #ffffff;
        }
    }

    @include media(stablet){
        .nav-list{
            flex-flow: row;
        }
        .nav-buttons{
            flex-flow: row;
        }
    }
    @include media(btablet) {
        .icon {
            display: none;    
        }

        .nav-items {
            display: block;
        }

        .hamburger{
            display: none;
        }

        .logoMenu{
            justify-content: left;
        }
    }



}
