<!-- Modal Login -->
    <section id="modal-login">
        <div class="modal-login-bg">
            <div class="modal-login-content">
                <div class="modal-login-top">
                    <div class="modal-login-top-logo"></div>
                    <div class="modal-login-top-text"></div>
                </div>
                <div class="modal-login-bottom">
                    <div class="form-wrapper">
                        <form action="./package.json" method="post" class="register" id="register-info">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" placeholder="Henk" id="username" required="required">
                            </div>
                            <!--<div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Bv:Henk@bazeke.odisee.be" id="email-input" required="required">
                            </div> 
                            Is het nu email login of ussername login kweet het niemeer-->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <Input type="password" placeholder="min. 8 charactres" required></Input>
                            </div>
                            <button type="submit">Login</button>
                            <a href="">Forgot Password?</a>
                            <button type="submit">Register</button>
                            <a href="">close</a>
    
                        </form>  
                    </div>  
                </div>
            </div>
        </div>
    </section>