<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header-logged'); %> 
 

<div id="main">

    <div class="wrapper">

        <div class="sidebar">
            <div class="sidebar-top">
                <h2>Profile</h2>
            </div>

            <ul>
                <li><a href="#">Profile Info</a></li>
                <li><a href="#">Current Bets</a></li>
                <li><a href="#">Past Bets</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Favorite Topics</a></li>
                <li><a href="#">Wallet</a></li>
            </ul>
        </div>

        <div>
            <div class="profile-top">
                <div class="pf-picture"></div>
                <h3>Bob</h3>
            </div>

            <div>
                <ul>
                    <li><span>Email:</span><p>bob.bobson@gmail.com</p></li>
                    <li><span>Address:</span><p>Street 1, 9000 Gent</p></li>
                    <li><span>Birthday:</span><p>Januari 1, 1990</p></li>
                    <li><span>Card number:</span><p>BE53 **** **** **** 6</p></li>
                    <li><span>more info:</span><p>...</p></li>
                </ul>

                <div class="button2">Edit</div>
            </div>
        </div>

        <div>
            <div>
                <p>$2365.56</p>
                <div class="button">Add Credit</div>
            </div>

            <div class="graph">

            </div>
        </div>
    </div>
</div>

    <!-- Footer -->
    <%- include ('./partials/footer'); %> 

<script src="js/script.js"></script>
</body>
</html>