@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');



html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;   
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    color: clr(p1);
    
    @include media(mtablet){
        font-size: 4rem
    }
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    color: clr(p1);

    @include media(mtablet){
        font-size: 3rem;
    }
}

h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: clr(p1);
    
    @include media(mtablet){
        font-size: 2.4rem;
    }
}

p, span {
    line-height: 1.5;
    letter-spacing: .1rem;
    font-weight: 300;
    font-size: 1.6rem;
    color: clr(par);

    @include media(mtablet){
        font-size: 2.4rem;
    }
}

a {
    line-height: 1.5;
    letter-spacing: .1rem;
    font-weight: 300;
    font-size: 1.6rem;
    color: clr(p1); // p6
    text-decoration: none;
    

    @include media(mtablet){
        font-size: 2.4rem;
    }
}

a:hover {
    text-decoration: underline;
}

button {
    line-height: 1.5;
    letter-spacing: .1rem;
    font-weight: 300;
    font-size: 1.6rem;
}