<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>

    <%- include('./partials/header'); %>

<main id="about">
    <section id="content" class="container">
        <div id="top-row" class="about">
            <div class="content container">
                <h2 class="structural">About us</h2>
                <h3>Who is better?</h3>
                <p>Hi we're four students at Odisee the Co-College (It's a
                    thing! Google it) of higher education. We made better as an assignment for the class Web & Mobile
                    Front-end. We hear you
                    think, "so why a gambling application?"" Good question, as mentioned we are four students, and we
                    like a regular gamble, this brings only one problem with it ... we don't have the money for it. As
                    Belgian students all our money already went to the delicious belgian beer, uhhh ... we meant school ;).
                    So we didn't have the money to gamble anymore, so when our professor came with the assignment we put our
                    brains together and came up with something better than what already existed ... Better, the better place
                    to bet. </p>
            </div>

            <div class="content container">
                <img src="/img/odisee.png"/>
            </div>
        </div>

        <div class="content" id="questions">
            <h2 class="structural">Contact us</h2>
            <h3>Any questions?</h3>
            <a href="/contact" class="yellow-button">Contact Us</a>
        </div>
    </section>
</main>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</body>
</html>