<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %> 
    <script type="text/javascript" src="/js/roulette.js" defer></script>
</head>
<body>
    <header>

    </header>
    <main>
        

       
            <%- include('./partials/roulette'); %> 
        
    </main>
    <footer>

    </footer>
</body>
</html>