<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
    
    <!-- Header -->
    <%- include('./partials/header'); %> 

    <!-- Banner -->
    <section id="banner">
        <!-- <div class="banner container">
                <div class="banner-content">
                    <img src="./public/img/Logo.svg" alt="Better logo">
                    <h2 class="brand-text">Text</h2>    
                </div>
                
        </div> -->
    </section>

    <!-- Main content -->
    <section id="content">
        <div class="content container">

        </div>
    </section>

    <!-- Modal Register -->
    <section id="modal-register">
        <div class="modal-register-bg">
            <div class="modal-register-content">
                <div class="modal-register-top">
                    <img src="poker.jpg" alt="pokerchips en speelkaarten achtergrond">
                    <div class="modal-register-top-logo"></div>
                    <div class="modal-register-top-text"></div>
                </div>
                <div class="modal-register-bottom">
                    <!--form here-->
                    <div class="form-wrapper">
                        <form action="./package.json" method="post" class="register" id="register-info">
                            <div class="form-group">
                                <label for="username" class="username">Username</label>
                                <input type="text" placeholder="Henk" id="username" required="required">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Bv:Henk@bazeke.odisee.be" id="email-input" required="required">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <Input type="password" placeholder="min. 8 charactres" required></Input>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirm Password</label>
                                <Input type="password" placeholder="min. 8 charactres" id="confirm-password" required></Input>
                            </div>
                            <div class="form-group">
                                <label for="adress">Adress</label>
                                <input type="text" placeholder="patatttenstrat 8 gent" id="adress" required>
                            </div>
                            <div class="form-group">
                                <label for="birth-date">Date of Birth</label>
                                <input type="date" name="birth-date" id="birth-date" required>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="tos" id="tos" class="checkbox" required>
                                <label for="tos"class="tos">I have read <span>the user agreement</span></label>
                            </div>
                            <button type="submit">Register</button>
                            <a href="">Already have an account? Log in here</a>
    
                        </form>  
                    </div>
                    <a href=""class="close">close</a>  
                </div>
            </div>
        </div>
    </section>
  
    <!-- Modal Login -->
    
    <!-- Footer -->
    
</body>
</html>