<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %> 
</head>
<body>
    
    <!-- Header -->
    <%- include('./partials/header'); %> 

    <!-- Banner -->
    <section id="banneri">
        <%- include('./partials/banner'); %> 
    </section>

    <!-- Main content -->
    <section id="showcase">
        <div class="showcase container">
                <div class="showcase-content">
                    <h2>Our newest game: <span>Roulette</span></h2>
                    <img src="/img/roulette.png" alt="Roulette img">
                    <div class="showcase-buttons">
                        <a class="yellow-button" href="/casino">Play now</a>
                        <a class="grey-button" href="/register">Register</a>
                    </div>
                </div>
        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer'); %> 
    
</body>
</html>