<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %> 
</head>
<body>
    
    <!-- Header -->
    <%- include('./partials/header'); %> 

    <!-- Banner -->
    <section id="banner">
        
    </section>

    <!-- Main content -->
    <section id="content">
        <div class="content container">

        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer'); %> 
    
</body>
</html>