<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    
    
<!-- Header -->
<%- include('./partials/header'); %>

<h1>Login</h1>

<% if(locals.error) { %>
    <p class="error"><%= error %></p>
<% } %>

<form action="/login" method="POST">
    <div>
        <label for="username">username</label>
        <input type="text" id="username" name="username" value="<%= locals.username ? username : '' %>" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>

</body>
</html>