<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <script src="/js/profile.js" defer></script>
</head>
<body>

<!-- Header -->
<%- include('./partials/header'); %>

<div id="main">

    <div class="container">

        <section class="sidebar">
            <div class="sidebar-top">
                <h2>Profile</h2>
            </div>

            <ul>
                <li><a href="#">Profile Info</a></li>
                <li><a href="#">Current Bets</a></li>
                <li><a href="#">Past Bets</a></li>
                <li><a href="#">Friends</a></li>
            </ul>
        </section>

        <%- include('./partials/edit'); %>
        
        

    </div>
</div>
<footer>

</footer>
</body>
</html>