
<div id="main">

    <div class="container">

        <section class="sidebar">
            <div class="sidebar-top">
                <h2>Profile</h2>
            </div>

            <ul>
                <li><a href="#">Profile Info</a></li>
                <li><a href="#">Current Bets</a></li>
                <li><a href="#">Past Bets</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Favorite Topics</a></li>
                <li><a href="#">Wallet</a></li>
            </ul>
        </section>

        <section class="profile">
            <div class="profile-top">
                <div class="pf-picture"><img src="img/stick-figure-40652_1280(1).png"></div>
                <h3>Bob</h3>
            </div>

            <div>
                <ul>
                    <li><span>Email:</span><p>bob.bobson@gmail.com</p></li>
                    <li><span>Address:</span><p>Street 1, 9000 Gent</p></li>
                    <li><span>Birthday:</span><p>Januari 1, 1990</p></li>
                    <li><span>Card number:</span><p>BE53 **** **** **** 6</p></li>
                </ul>

                <button class="button button2 edit-button">Edit</button>
            </div>
        </div>

        <div class="credit">
            <div>
                <p>$2365.56</p>
                <button class="button">Add Credit</button>
            </div>
        </div>
    </div>
</div>