//variables

//



// Colors


$primary-one: #3F3F3F;
$primary-two: #525252;
$primary-three: #929191;
$primary-four: #BEBEBE;
$primary-five: #ECECEC;
$primary-six: #FFFFFF;
$paragraph: #545454;
$secundary-one: #FFF500;




// extra
$z-low: 1;
$z-medium: 10;
$z-high: 100;
