.grey-button {
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;

    font-weight: bold;

    box-shadow: 5px 5px 20px rgba(103, 103, 103, 0.25);
    color: #ffffff;
    background: #BEBEBE;
}

.grey-button:hover {
    cursor: pointer;
    background: #b1b1b1;
}