
button {
    color: white;
    background-color: green;
}

#game {
    display: flex;
}

.playingField {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin-left: 5%;
}

.upperField {
    display: flex;
    flex-flow: row;
    align-self: center;
    width: 100%;
    height: 100px;
}

.lowerField {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    align-self: center;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.column {
    display: grid;
    flex-flow: column nowrap;
    width: 10%;
    height: 1fr;
}

.special {
    width: 100%;
}


.red{
    background-color: red;
}

.light {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.6);
}

.black{
    background-color: black;
}

.zeroButton{
    width: 10%;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(12, 8.333333333%);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    width: 80%;
}

/** Chips **/
#chips {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
}

.chip {
    width: 1fr;
    height: 100%;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}


input[type="radio"] + label {
    display: inline-block;
    width: 100%;
    height: 100%;
    //background-color: #929191;
    padding: 10px 20px;
    //border: 2px solid #525252;
    border-radius: 25% 25%;
}

input[type="radio"]:checked + label {
    background-color:#FFF500;
    border: 2px solid #525252;
}

#chip10 {
    background-image: url("../images/10.png");
    background-size: 100% 100%;
}

#chip20 {
    background-image: url("../images/20.png");
    background-size: 100% 100%;
}

#chip50 {
    background-image: url("../images/50.png");
    background-size: 100% 100%;
}

#chip100 {
    background-image: url("../images/100.png");
    background-size: 100% 100%;
}

.badge {
    position: absolute;
    padding: 5px 5px;
    border-radius: 50%;
    background-color: #FFF500;
    color: #525252;
}

/*table*/
table, th, td {
    border: 1px solid black
}

table {
    border-collapse: collapse;
}

th {
    background-color: #FFF500;
}

td {

}

.delete {
    width: 100%;
    height: 100%;
    background-color: #FFF500;
    color: black;
}